<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="command_to_PLC" params="name initial_value:='' PLC_symbol PLC_type n_elements:=1 index:=''">
        <command_interface name="${name}">
            <xacro:if value="${initial_value != ''}">
                <param name="initial_value">${initial_value}</param>
            </xacro:if>
            <param name="PLC_symbol">${PLC_symbol}</param>
            <param name="PLC_type">${PLC_type}</param>
            <param name="n_elements">${n_elements}</param>
            <xacro:if value="${index != ''}">
                <param name="index">${index}</param>
            </xacro:if>
        </command_interface>
    </xacro:macro>

    <xacro:macro name="state_from_PLC" params="name PLC_symbol PLC_type n_elements:=1 index:=''">
        <state_interface name="${name}">
            <param name="PLC_symbol">${PLC_symbol}</param>
            <param name="PLC_type">${PLC_type}</param>
            <param name="n_elements">${n_elements}</param>
            <xacro:if value="${index != ''}">
                <param name="index">${index}</param>
            </xacro:if>
        </state_interface>
    </xacro:macro>

</robot>